<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>{{global.title}}{{#page.title}} - {{page.title}}{{/page.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="">
<meta name="author" content="Adam Smallcomb">
<link rel="stylesheet" type="text/css"  href="assets/css/style.css">
<link rel='stylesheet' type='text/css' href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<body class="has-navbar-fixed-top page-services has-highlighted" name="">
	<!-- Main Navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
<!-- 				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button> -->
				<a class="navbar-brand" href="{{menu.0.link}}" style="color:#ccc;line-height: 50px;font-size:22px;font-family: 'Raleway', sans-serif;">
					ADAM<span style="color:#888">SMALLCOMB</span>
				</a>
			</div>
			{{>menu}}
		</div>
	</nav>

	<!-- Main Conent -->
	<section class="wrapper-sm">
		<div class="container">
			<div class="row">
			<div id="content">
				{{>content}}
			</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	{{>footer}}
</body>
</html>
