<br><br>
Most recently I was at a startup called <a target="_blank;" href="http://www.sonostics.com/">Sonostics</a> as a software architect designing and building an MyoWave, an application to analyze muscle balance.

For this application I embedded a custom webkit browser into a .NET application and built the entire interface with JS and CSS including a live graph with thousands of data points updated multiple times a second.

I spend much of my free time developing a web-app called SteepleConnect.

### [Family]()

I have a beautiful wife of 8 years and I have two daughters Alexis and Josephine and a boy named Parker.

### [Experience]()

My experience is quite varied. I have a BS in engineering from Messiah College with a concentration in electrical. My internship was at Hilliard Corp. with a role as a mechanical engineer designing gear systems. I worked at Lockheed Martin for nearly six years as an Embedded Software Engineer and worked a lot with windows .NET applications. On the side I prefer to write software as web applications.

This unique experience has allowed me to build some interesting projects from the ground up. My favorite being a thermostate with a web interface. This project allowed me to design a custom circut, write firmware, interface that to a computer and then design a web interface.