### My Projects

---
I like to work on many different types of projects including electrical, software, design and mechanical. Lately I have found myself particularly interested in projects that allow me to involve my children in some way - you will find none of those listed here right now though.

This is currently a simple list to help me keep track of what I want to document

{{#page.fetch}}
	{{!>project}}
{{/page.fetch}}

---
This entire website is built on a custom framework that is intended to make creating web applications fast, simple and reliable. I call the framework [Graphene](http://graphene.adamsmallcomb.com).

---
[BerryJS](http://cloverstone.github.io/Berry/) is an extensible JavaScript Form library to simplify form layout, validation, and data management down to a simple object declaration

---
[COBLER](/cobler) (*CO*ntent *B*ui*L*d*ER*) is a modular framework for building content such as blogs, pages, forms and even hardware UI.

---
The combination of the above and several more modules has allowed me to create my pride and joy application... uh I'll disclose it when its done...ish.

---
Recently I was considering joining a [Makerspace](http://www.tcmakerspace.com/) who needed a logo as they were just starting out. I spent a little time and shared my [results](logoideas) with them, they decided to adopt it.

---
Over the years I have done many more and am beginning an attempt to begin documenting them as much as possible... more to come.