<div>
<div data-name="Heading" style="text-align: center;" class="pull- width12"><h2><a name="adam_t._smallcomb<hr>">Adam T. Smallcomb<hr></a></h2></div><div data-name="Template" style="clear:" class="pull- width12"><div style="overflow:hidden;margin-bottom:0px;margin-left:150px;">
    Messiah College
</div></div><div data-name="Template" style="clear:" class="pull- width12"><div style="overflow:hidden;margin-bottom:0px;margin-left:150px;">
    Major GPA: 3.29
</div></div><div data-name="Template" style="clear:" class="pull- width12"><div style="overflow:hidden;margin-bottom:0px;margin-left:150px;">
    Awards: Academic Scholarship, 2001-2002, 2004-2005
</div></div><div data-name="Template" style="clear:" class="pull- width12"><div style="overflow:hidden;">
  <h4 class="pull-left">Experience</h4>
  <h4 style="display:block;margin:0px;overflow:hidden;margin-left:150px;padding-top:10px">
    <span class="pull-left">VP –Product Development / Software Architect</span>
    <span class="pull-right">Jan 2011-Present</span>
  </h4>
  <div style="display:block;margin:0px;overflow:hidden;margin-left:150px;padding-top:0px">
    <span class="pull-left">Sonostics (Start-up Company) </span>
    <span class="pull-right">Binghamton, New York</span>
  </div>
</div></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Architected and lead the team that engineered the companies flagship product - MyoWave
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Leveraging a combination of embedded C, C# (.NET), HTML, CSS, and Javascript (JQuery), 
Myowave is a high bandwidth application that communicates with embedded hardware
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Created a platform where WebKit is embedded in a .Net application as the interface layer, reducing 
the risk when later porting the application to the cloud
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Developed lead generation tools and internal cloud applications for business management, bringing 
the software through the entire software life cycle
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Designed unique ways of displaying complex data in simplified ways in order to convey maximum 
information instantaneously
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull- width12"><div style="overflow:hidden">
  <h4 class="pull-left"> </h4>
  <h4 style="display:block;margin:0px;overflow:hidden;margin-left:150px;padding-top:10px">
    <span class="pull-left">Consultant / Independent Developer</span>
    <span class="pull-right">Jun 2010-Present</span>
  </h4>
  <div style="display:block;margin:0px;overflow:hidden;margin-left:150px;padding-top:0px">
    <span class="pull-left">In conjunction with e-Solve Solutions Inc.</span>
    <span class="pull-right"> </span>
  </div>
</div></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Architected and developed a web application development framework to facilitate cost effective, and 
stable custom web applications
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Designed and built a church optimized content management system with integrated social 
networking - SteepleConnect is licensed to e-Solve and has been profitable for three years 
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Developed a JavaScript form library to simplify form layout, validation, and data management down 
to a simple object declaration
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Invented a modular/flexible content builder that has so far been used for the creation of web pages, 
custom forms, and hardware IO interfaces
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Developed multiple intuitive user interfaces including design elements such as graphics, logos, and icons
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull- width12"><div style="overflow:hidden">
  <h4 class="pull-left"> </h4>
  <h4 style="display:block;margin:0px;overflow:hidden;margin-left:150px;padding-top:10px">
    <span class="pull-left">Embedded Software Engineer Senior</span>
    <span class="pull-right">May 2005- Jan 2011</span>
  </h4>
  <div style="display:block;margin:0px;overflow:hidden;margin-left:150px;padding-top:0px">
    <span class="pull-left">Lockheed Martin Systems Integration</span>
    <span class="pull-right">Owego, New York</span>
  </div>
</div></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Designed and developed a C# application which interfaced with hardware to modify settings for use 
on multiple programs while leading several people during continued development
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Diagnostic Software Technical lead responsible for budget, schedule and overall performance.
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Independently developed a GUI based software tool to automate the generation of and the sending of 
command sequences
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull-right width4_5"><ul style="overflow:hidden;margin:0px;list-style-type:disc">
  <li style="margin-left:20px;padding-bottom:4px">
    Independently developed emulation hardware and associated drivers and software for use in risk 
mitigation
  </li>
</ul></div><div data-name="Template" style="clear:" class="pull-right width4_5"></div></div>